<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="container mx-auto flex max-w-prose flex-col space-y-10 p-4 md:p-6">
      <a id="logo" href="{{ .Site.Home.RelPermalink }}"><span class="sr-only">Dark Edge</span></a>
      <header class="flex flex-row items-center justify-between" id="top">
        {{ partial "header.html" . }}
      </header>
      <main class="prose dark:prose-invert prose-slate relative md:prose-lg prose-h1:text-[2em]" id="maincontent">
        {{ block "main" . }}{{ end }}
      </main>
      <footer class="mt-20 border-t border-neutral-500 pt-2 text-xs">
        {{ partial "footer.html" . }}
      </footer>
    </div>
    {{ if .Store.Get "hasMermaid" }}
      <script
        src="https://cdn.jsdelivr.net/npm/mermaid@11.4.0/dist/mermaid.min.js"
        integrity="sha256-G8ouPAnw4zzMbnAenHnVz6h9XpKbNdOkrqTh7AadyHs="
        crossorigin="anonymous"
      ></script>
      <script type="text/javascript">
        mermaid.initialize({
          startOnLoad: true,
          theme: 'neutral',
          fontFamily: "'LatoLatinWeb', sans-serif"
        });
      </script>
    {{ end }}
      <!-- TWIPLA Tracking Code for darkedge.world --><script>(function(v,i,s,a,t){v[t]=v[t]||function(){(v[t].v=v[t].v||[]).push(arguments)};if(!v._visaSettings){v._visaSettings={}}v._visaSettings[a]={v:'1.0',s:a,a:'1',t:t};var b=i.getElementsByTagName('body')[0];var p=i.createElement('script');p.defer=1;p.async=1;p.src=s+'?s='+a;b.appendChild(p)})(window,document,'//app-worker.visitor-analytics.io/main.js','4cd67dde-777b-11f0-9db8-960004340fd3','va')</script><!-- TWIPLA Tracking Code for darkedge.world -->
  </body>
</html>
