{{ define "main" }}
  <article class="main">
      <header>
        <h1 class="!mb-1 flex flex-row items-center space-x-2">
          <span>{{ .Title }}</span>
          {{- with .OutputFormats.Get "rss" }}
          <a
            rel="alternate"
            type="application/rss+xml"
            href="{{ .RelPermalink }}"
            title="Subscribe to the {{ $.Title }} RSS feed"
            class="text-slate-400 hover:text-orange-600"
          >
            {{ partial "svg/rss.html" }}
          </a>
          {{- end }}
        </h1>
      </header>
    {{- with .Content }}
      {{ . }}
    {{ end -}}
  </article>

  {{- if default true site.Params.home.showRecentPosts }}
    {{- $posts := where site.RegularPages "Section" "posts" -}}
    {{- with $posts.Limit 1 }}
      <section class="showcase-first">
        {{ partial "posts/list.html" . }}
      </section>
    {{ end -}}
  {{ end -}}

  {{- if default true site.Params.home.showRecentPosts }}
    {{- $posts := where site.RegularPages "Section" "posts" -}}
    {{- with $posts.Limit 4 }}
      <section class="hide-first">
        <h2><a href="/posts/" class="no-underline hover:underline">Other recent posts</a></h2>

        {{ partial "posts/list.html" . }}
      </section>
      {{ end -}}
    {{ end -}}

    {{- if default true site.Params.home.showRecentNotes }}
      {{- $notes := where site.RegularPages "Section" "notes" -}}
      {{- with $notes.Limit (int (default 5 site.Params.home.recentNotesLimit)) }}
      <section>
        <h2><a href="/notes/" class="no-underline hover:underline">Recent notes</a></h2>

        {{ partial "notes/list.html" . }}
      </section>
      {{ end -}}
    {{ end -}}

    {{ partial "kit.html" }}
{{ end }}
