@import 'chroma.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/MuseoSans_100-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/MuseoSans_100_Italic-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/MuseoSans_300-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/MuseoSans_300_Italic-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/MuseoSans_500-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/MuseoSans_500_Italic-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/MuseoSans_700-webfont.woff") format("woff");
}
@font-face {
    font-display: fallback;
    font-family: "MuseoSans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/MuseoSans_700_Italic-webfont.woff") format("woff");
}


@layer base {
  html {
    color-scheme: light dark;
    /* https://design2tailwind.com/blog/change-tailwindcss-base-font-size/ */
    font-size: 18px;
    @media screen(lg) {
      font-size: 20px;
    }
  }
  body {
    font-family: 'MuseoSans', sans-serif;
    counter-reset: sidenote-counter;
  }

  #logo {
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("/images/logo_narrow_white.svg");
    background-size: contain;
    height: 70px;
  }
  @media (prefers-color-scheme: dark) {
    #logo {
      background-image: url("/images/logo_narrow_black.svg");
    }
  }
  @media screen(sm) {
    #logo {
      background-image: url("/images/logo_wide_white.svg");
    }
    @media (prefers-color-scheme: dark) {
      #logo {
        background-image: url("/images/logo_wide_black.svg");
      }
    }
  }

  header#top {
    margin-top: 2em;
  }

  nav a:hover {
    @apply underline decoration-slate-300 dark:decoration-slate-400 decoration-2 underline-offset-4;
  }

  nav a.active,
  nav a.ancestor {
    @apply underline decoration-2 underline-offset-4;
  }

  nav a.ancestor {
    @apply decoration-slate-300 dark:decoration-slate-400;
  }

  nav ul li:nth-child(3) {
    @apply max-md:hidden;
  }

  main not(img) {
    @apply dark:contrast-200;
  }

  /* homepage showcase */
  section.showcase-first {
    @apply mt-6;
  }
  section.showcase-first li:first-child article header {
    @apply my-2;
  }
  section.showcase-first li:first-child article header h3 {
    @apply text-xl md:text-2xl;
  }
  section.showcase-first li:first-child article header h3 a {
    @apply text-black dark:text-white;
  }
  section.showcase-first li:first-child article div.flex {
    flex-wrap: wrap;
  }
  section.showcase-first li:first-child article div.flex div {
      flex: 1 1 100%;
  }
  section.showcase-first li:first-child article div.flex img {
    width: 100%;
    height: auto;
    @apply rounded-lg;
  }
  section.showcase-first li:first-child article div.flex div.text-sm {
    @apply text-base md:text-lg;
  }
  section.hide-first li:first-child {
    display: none !important;
  }


  article.main a {
    @apply text-blue-800 dark:text-blue-300 hover:decoration-2 hover:underline-offset-2;
  }

  article.main .codeblock-meta a {
    @apply !text-white/70 hover:!text-sky-400;
  }

  article.main figure {
    img {
      @apply mb-0 border p-1;
    }

    figcaption {
      @apply mt-1 text-center;

      /* https://ox-hugo.scripter.co/doc/image-links/#hiding-figure-caption-numbers */
      .figure-number {
        display: none;
      }

      h4 {
        @apply mt-0;
      }

      p {
        @apply mt-1 italic;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    article.main figure {
      img {
        @apply border-gray-500;
      }
    }
    article.main blockquote {
      @apply border-l-slate-500;
    }
  }

  article.main .verse {
    @apply border rounded-lg border-slate-200 dark:border-slate-500 bg-slate-200 dark:bg-slate-800 py-1 px-5 lg:px-10 italic lg:text-xl;
  }

  article.main .csl-bib-body {
    @apply pb-7;
  }

  a.taxonomy {
    @apply whitespace-nowrap rounded-sm border border-slate-200 bg-slate-100 dark:border-zinc-500 dark:bg-zinc-500 p-1 text-sm font-semibold lowercase no-underline;
  }

  a.taxonomy:hover {
    @apply border-slate-300 bg-slate-200 dark:border-slate-400 dark:bg-slate-500;
  }

  a.taxonomy .count {
    @apply relative -top-px rounded bg-slate-300 px-[3px] py-[1px] text-xs font-normal tabular-nums text-slate-500;
  }

  a.taxonomy:hover .count {
    @apply bg-slate-400 text-slate-600;
  }

  .pagination {
    @apply mt-10 flex flex-row items-center justify-center space-x-4;
  }

  .pagination .active a {
    @apply font-semibold underline decoration-2 underline-offset-4;
  }

  .pagination .disabled a {
    @apply cursor-not-allowed opacity-50;
  }

  .sidenote {
    @apply inline;
    counter-increment: sidenote-counter;
  }

  .sidenote-checkbox ~ .sidenote-content {
    @apply max-lg:sr-only;
  }

  .sidenote-checkbox:checked {
    & ~ .sidenote-content {
      @apply max-lg:not-sr-only max-lg:left-auto max-lg:float-left max-lg:my-2 max-lg:block max-lg:min-w-full max-lg:pl-4 max-lg:text-sky-600 dark:max-lg:text-sky-300;
    }

    & ~ .sidenote-mark {
      @apply no-underline max-lg:text-sky-600 dark:max-lg:text-sky-300;
    }
  }

  .sidenote:active,
  .sidenote:active .sidenote-content {
    @apply text-sky-600 dark:text-sky-300;
  }

  .sidenote:hover .sidenote-mark::after,
  .sidenote:hover .sidenote-content::before {
    @apply text-sky-600 dark:text-sky-300;
  }

  .sidenote-mark {
    &::after {
      @apply inline align-super text-xs font-semibold max-lg:hidden;
      content: counter(sidenote-counter);
    }

    @apply motion-safe:transition-all max-lg:cursor-pointer max-lg:underline max-lg:decoration-sky-600 dark:max-lg:decoration-sky-300 max-lg:decoration-dotted max-lg:decoration-2 max-lg:underline-offset-4;
  }

  .sidenote-content {
    &::before {
      @apply absolute -left-16 bottom-0 top-0 flex w-14 items-start justify-end text-sm font-semibold max-lg:hidden;
      content: counter(sidenote-counter) '.';
    }

    @apply motion-safe:transition-all lg:absolute lg:right-0 lg:w-48 lg:cursor-default;

    @media screen(lg) {
      margin-right: calc(-1 * theme(width.48) - 1 * theme(margin.16));
    }
  }

  .footnote-ref {
    @apply align-super text-xs font-semibold motion-safe:transition-all max-lg:cursor-pointer max-lg:underline max-lg:decoration-sky-600 max-lg:decoration-dotted max-lg:decoration-2 max-lg:underline-offset-4;

    &:hover {
      @apply max-lg:underline-offset-4;
    }
  }

  .admonition {
    @apply my-6 rounded border bg-slate-100 py-4 pl-2 pr-4 text-slate-800 shadow-sm;

    svg {
      @apply relative -top-[2px];
    }

    a {
      @apply underline decoration-1;
    }
  }

  .admonition.tip {
    @apply border-indigo-200 bg-indigo-100 text-indigo-800;

    a {
      @apply !text-indigo-900;
    }
  }

  .admonition.warning {
    @apply border-orange-200 bg-orange-100 text-orange-800;

    a {
      @apply !text-orange-900;
    }
  }

  .admonition.danger {
    @apply border-red-200 bg-red-100 text-red-800;

    a {
      @apply !text-red-900;
    }
  }

  .codeblock pre {
    @apply overflow-x-scroll rounded p-2 text-sm;
    color: #c0caf5;
    background-color: #1a1b26;
  }

  .codeblock div.chroma,
  pre code {
    @apply overflow-x-scroll;
  }

  .codeblock .hl {
    @apply bg-[#2f3248];
  }

  article.main .diagram-meta a {
    @apply !text-gray-500 transition-colors hover:!text-sky-400;
  }

  footer a {
    @apply underline hover:decoration-2;
  }

  .network-chart .node {
    @apply hidden;
  }

  .network-chart .edge {
    @apply hidden;
  }
}
