<div class="not-prose">
  <ol>
    {{- range . }}
      <li class="mb-6">
        <article class="flex flex-col space-y-1">
          <header>
            <h3 class="text-lg font-semibold leading-6">
              <a
                href="{{ .RelPermalink }}"
                class="underline decoration-slate-300 dark:decoration-slate-500 decoration-2 underline-offset-4 hover:decoration-inherit"
              >{{ .Title }}</a>
            </h3>
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
            {{- $dateHuman := .Date | time.Format (default ":date_long" .Site.Params.dateFormat) -}}
            <time class="text-sm italic opacity-80" datetime="{{ $dateMachine }}"
            >{{ $dateHuman }}</time>
            {{ if .Draft }}<span class="text-sm text-white bg-fuchsia-600 m-1 px-1 font-normal">draft</span>{{ end }}
            {{- if ge .Date.Unix now.Unix }}<span class="text-sm text-white bg-indigo-600 m-1 px-1 font-normal">future</span>{{- end }}
            {{- if in .Params.tags "roamtodo" }}<span class="text-sm text-white bg-pink-600 m-1 px-1 font-normal">todo</span>{{- end }}
          </header>

          <div class="flex flex-row gap-4">
            <div class="flex-none" aria-hidden="true">
              {{$first_image := "/images/device_3x2_black.svg"}}
              {{$matches := findRESubmatch `<img\s.*?src=(?:'|")([^'">]+)(?:'|")` .Content 1 }}
              {{range $matches}}{{$first_image = index . 1}}{{end}}
              <a href="{{ .RelPermalink }}">
                <img src="{{ $first_image }}" alt=""
                     class="object-cover md:w-[150px] md:h-[100px] w-[72px] h-[72px] rounded-sm mt-1"/>
              </a>
            </div>
            <div class="text-sm flex-grow">

              {{ .Summary }}

            </div>
          </div>
        </article>
      </li>
    {{- end }}
  </ol>
</div>
