<aside class="kit border-t not-prose" style="margin-top: 2rem">
  <h2 class="mt-4 mb-2 text-xl md:text-2xl" style="margin-top: 2rem">Join the newsletter</h2>
  <p class="text-sm md:text-base my-4">Receive an email update when a new post is published on Dark Edge.</p>
  <script async data-uid="30a1dc4685" src="https://darkedge.kit.com/30a1dc4685/index.js"></script>
  <p class="text-xs md:text-sm" style="margin: 0 0 2rem;">
    It's free. No spam. Just the good stuff. Unsubscribe at any time.
  </p>
</aside>
