<div class="not-prose">
  <ol>
    {{ range . }}
      <li>
        <article class="flex flex-row items-center">
          <header class="grow truncate">
            <h3 class="truncate">
              <a
                href="{{ .RelPermalink }}"
                class="text-sm underline decoration-slate-300 dark:decoration-slate-500 decoration-2 underline-offset-4 hover:decoration-inherit"
                title="{{ .Title }}"
              >{{ .Title }}</a>
              {{- partial "status.html" (dict "Page" . ) -}}
            </h3>
          </header>
          {{ with .Page.GetTerms "categories" | first 2 }}
            <ul class="flex flex-row items-center justify-end space-x-2 ml-4 max-w-1/4">
              {{ range . }}
                <li class="hidden md:inline-block">
                  <a
                    href="{{ .RelPermalink }}"
                    class="taxonomy"
                    title="See notes on {{ .LinkTitle }}"
                    >{{ .LinkTitle }}</a
                  >
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </article>
      </li>
    {{ end -}}
  </ol>
</div>
