<div class="not-prose">
  <ol>
    {{ range . }}
      <li>
        <article class="flex flex-row items-center">
          <header class="grow truncate">
            <h3 class="truncate">
              <a
                href="{{ .RelPermalink }}"
                class="text-sm underline decoration-slate-300 dark:decoration-slate-500 decoration-2 underline-offset-4 hover:decoration-inherit"
                title="{{ .Title }}"
              >{{ .Title }}</a>
              {{- partial "status.html" (dict "Page" . ) -}}
            </h3>
          </header>
          {{- partial "list-categories.html" (dict "Page" .) -}}
        </article>
      </li>
    {{ end -}}
  </ol>
</div>
