{{ .Inner }}
<section class="kit border-t border-b" style="margin-top: 2rem">
  <h3 class="mt-4 mb-2" style="margin-top: 2rem">Join the newsletter</h3>
  <p class="mb-1 text-base md:text-xl">Receive an email update when a new post is published on Dark Edge.</p>
  <script async data-uid="30a1dc4685" src="https://darkedge.kit.com/30a1dc4685/index.js"></script>
  <p class="text-sm md:text-base" style="margin: 0 0 2rem;">
    It's free. No spam. Just the good stuff. Unsubscribe at any time.
  </p>
</section>
